/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    font-size: 100%;

}


/* =============================================================================
   My CSS
   ========================================================================== */


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background: rgb(89, 9, 128);
    background: -moz-linear-gradient(174deg, rgba(89, 9, 128, 1) 0%, rgba(77, 0, 113, 1) 54%);
    background: -webkit-linear-gradient(174deg, rgba(89, 9, 128, 1) 0%, rgba(77, 0, 113, 1) 54%);
    background: linear-gradient(174deg, rgba(89, 9, 128, 1) 0%, rgba(77, 0, 113, 1) 54%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#590980", endColorstr="#4d0071", GradientType=1);

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
