.container-fluid {
    overflow: hidden;
}

/*Login page*/
.login_wrapper {
    padding: 100px 200px;
    background-image: url("/images/Sprinkle.svg");
    background-size: cover;
    height: 100vh;
}

.login_form {
    padding: 70px 70px;
    margin: 0 50px;
    background-color: rgba(112, 112, 112, 0.3);
    backdrop-filter: blur(70px);
    border-radius: 17px;
}
.login_form label{
    color: white;
    font-weight: 600;
    font-size: 18px;
}
/*login end*/
.navbar .navbar-brand-wrapper .navbar-brand img {
    /*width: calc(185px - 119px);*/
    height: 100%;
    text-align: center;
}

.siderbar_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*height: 100%;*/
    opacity: 0.2;
    z-index: 0;
    background-image: url("/images/Sprinkle.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.brand-logo img {
    width: 100px;
    height: 100%;
}

.tab-content > .active {
    display: flex;
}

.new_doc_icon {
    font-size: 26px;
}

.table td, .jsgrid .jsgrid-table td {
    font-size: 15px;
}

.btn_new_doc {
    font-size: 15px;

}

.badge {
    font-size: 12px;
    font-weight: 600;
}

.kv-file-zoom, .kv-file-rotate {
    display: none;
}

.card {
    border: none;
    -webkit-box-shadow: 4px 3px 13px -3px rgba(182, 182, 182, 0.84);
    -moz-box-shadow: 4px 3px 13px -3px rgba(182, 182, 182, 0.84);
    box-shadow: 4px 3px 13px -3px rgba(182, 182, 182, 0.84);
    border-radius: 20px;
}

.page-item span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-color: #dde4e9;
    color: #000000;
    font-size: .875rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/*Signup page*/
.wrap_sign_bg {
    -webkit-box-shadow: -1px -2px 8px 10px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: -1px -2px 8px 10px rgba(34, 60, 80, 0.08);
    box-shadow: -1px -2px 8px 10px rgba(34, 60, 80, 0.08);
    border-radius: 20px;
    margin: 100px 0;
    padding: 50px;
}

.wrap_sign_bg input {
    outline: red;
    /*border-botto;*/
    border: none;
    border-bottom: 1px solid #d6d6d6;
    padding: 15px 20px;

}

/*end signup*/

/*News block*/
.card_title {
    font-size: 20px;
    color: black;
}

.card-body_news {
    padding: 18px;
}

.card-text_news {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.law_news_sub_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.sub_title_news img {
    width: 100% !important;
}

.card-img_main {
    height: 250px;
    transition: 0.3s ease-in-out;
}

.card_news_img_wrapper {
    overflow: hidden;

}

.news_card:hover .card-img_main {
    transform: scale(1.1);
}

.btn-full-view {
    font-size: 15px;
}

.card_category {
    font-size: 10px;
}

.law-news_icon i {
    /*width: 70px;*/
    font-size: 60px;
}

.select_group {
    font-size: 13px !important;
    font-weight: 700 !important;
}

.select_group option {
    padding: 1rem 1rem;
    color: #ffffff;
    border-bottom: 1px solid #595959;
}

.dropdown_group .select2-selection__arrow {
    border: none !important;
}

.dropdown_group .select2-container {
    border: none !important;
}

.dropdown_group .select2-selection {
    background: #7819a5 !important;
    color: white !important;
    border: none !important;
}

.dropdown_group .select2-container--krajee-bs3 .select2-results__option[aria-selected] {
    background: #7819a5 !important;
}

.select2-search--dropdown {
    display: none !important;
}

.dropdown_group .select2-container--krajee-bs3 .select2-selection--single .select2-selection__placeholder, .dropdown_group .select2-container--krajee-bs3 .select2-selection--single .select2-selection__rendered {
    color: white !important;
}

/*Team*/
.our-team {
    text-align: center;
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: -1px 5px 28px -6px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: -1px 5px 28px -6px rgba(34, 60, 80, 0.24);
    box-shadow: -1px 5px 28px -6px rgba(34, 60, 80, 0.24);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.team_bg {
    position: absolute;
    top: 0;
    left: 0;
    /*background-image: url("./images/bg-team.png");*/

}

.our-team:hover {
    /*box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);*/
}

.our-team .pic {
    overflow: hidden;
    position: relative;
}

.our-team .pic:before,
.our-team .pic:after {
    content: "";
    width: 200%;
    height: 80%;
    background: rgba(38, 37, 37, 0.8);
    position: absolute;
    top: -100%;
    left: -4%;
    transform: rotate(45deg);
    transition: all 0.5s ease 0s;
}

.our-team .pic:after {
    background: rgba(8, 75, 77, 0.8);
    top: auto;
    left: auto;
    bottom: -100%;
    right: -4%;
}

/*.our-team:hover .pic:before {*/
/*    top: 0;*/
/*}*/

/*.our-team:hover .pic:after {*/
/*    bottom: 0;*/
/*}*/

.our-team .pic img {
    width: 100%;
    height: auto;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 45%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
}

.our-team:hover .social {
    opacity: 1;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease 0s;
}

.our-team .social li a:after {
    content: "";
    width: 100%;
    height: 100%;
    background: #db162f;
    border-radius: 0 20px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}

.our-team .social li a:hover:after {
    transform: rotate(180deg);
}

.our-team .team-content {
    padding: 20px;
}

.our-team .title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #047168;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.our-team .post {
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #707070;
    text-transform: capitalize;
}

.wrapper_team_profile {
    background: #fafafa;
}

.popover {
    position: absolute !important;
    display: none;
}

.team_info .clearfix {
    /*border-top: 2px  solid #d7d7d7;*/
    border-bottom: 1px solid #D7D7D7;
    padding: 12px;

}

.team_info .clearfix span {
    font-weight: 800;
    color: black;
    font-size: 18px;
}

.img-round {
    width: 200px !important;
}

.team_info .clearfix:last-child {
    border: none;
}

.select2-container--open {
    z-index: 10000;
}

/*About page*/
.about_top {
    /*height: 400px;*/
}

.about_top img {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}
